<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea at earum fugiat, vel illum, quasi eveniet expedita eaque ex nulla repellat esse. Necessitatibus soluta obcaecati dolore unde quos corrupti debitis.</p>

<%- include("footer") -%>